.welcome-page-container {
    /*padding: 20px;*/
    font-family: Arial, sans-serif;
}





.online-styding {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.main-content {
    padding: 20px;
}

.universities {
    margin-bottom: 20px;
}

.universities h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.universities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.university-item {
    width: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.university-item img {
    width: 100%;
    height: auto;
}

.university-item h3 {
    margin: 10px 0;
}

.features {
    margin-bottom: 20px;
}

.features h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-item {
    width: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.feature-item i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.feature-item h3 {
    margin: 10px 0;
}

.call-to-action {
    text-align: center;
    margin-bottom: 20px;
}

.call-to-action h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.call-to-action button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #45a049;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1.6rem;
    color: white;
}

.call-to-action button:hover {
    background-color: #357834;
}


