/* Header.css */

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-buttons {
    display: flex;
    align-items: center; /* Align items vertically in the nav-buttons */
}

.nav-button {
    flex: 1;
    width: 150px; /* Set a fixed width for all buttons */
    margin-right: 10px;
    background-color: #45a049;
    border: none;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #357834;
}

.logo-button {
    background-color: transparent;
    padding: 0;
    display: flex; /* Use flexbox for the logo and text container */
    align-items: center; /* Center items vertically in the logo-button */
}

.logo-img {
    height: 80px; /* Adjust the height of the logo as needed */
}

.logo-text {
    margin: 0;
    color: #fff; /* Set the color of the logo text */
    font-weight: bold; /* Optionally set font weight for better visibility */
    margin-left: 8px; /* Adjust margin as needed for spacing between logo and text */
}

.user-button {
    width: 150px; /* Set a fixed width for the user button */
    background-color: #45a049;
    border: none;
    padding: 15px;
    display: flex; /* Use flexbox for the user button content */
    align-items: center; /* Center items vertically in the user button */
    cursor: pointer;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
}

.user-img {
    margin-right: 8px;
}

.user-button p {
    margin: 0;
}

.user-logo-text-container {
    display: flex;
    align-items: center;
}

.user-logo {
    margin-right: 2rem;
}
.user-logo-text-container p{
    text-align: center;
}
.popup{
    display: none;
    position: absolute;
    background-color: #4CAF50;
    width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 49px;
    left: 0;
}
.popup button{
    background-color: #45a049;
    border: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
}
.user-button:hover .popup{
    display: block;
}